body {
    background-color: ghostwhite;
}

.tabs {
    max-width: 50%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #ccc;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label p {
    padding: 5px;
    margin-right: 0;
}

.tabs label {
    display: block;
    float: left;
    width: 25%;
    color: #ccc;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.tabs label span {
    display: none;
}

.tabs label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}

.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;
}

.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #b234d1;
    border-bottom: 4px solid #b995f3;
    color: #3498db;
}

#tab-first:checked ~ #tab-content-1,
#tab-second:checked ~ #tab-content-2,
#tab-third:checked ~ #tab-content-3,
#tab-forth:checked ~ #tab-content-4
{
    display: block;
}

@media (min-width: 768px) {
    .tabs p {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs {
    max-width: 750px;
    margin: 50px auto;
    }
}

.tab-content {
    background-color: lavender;
    border-style: ridge;
    min-height: 300px;
    width: 100%;
    margin: auto;
    position: sticky;
}

#box {
    width: 300px;
    border-style: ridge;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: 70px;
    background-color: gainsboro;
}
#box-triangle {
    margin-top: 0px
}
section p{
    margin: 5px;
    text-align: center;
} 

section button {
width: 140px;
margin-left: 5px;
margin-top: 5px;
}

input {
    width: 200px;
    margin: auto;
    display: block;
}

section {
    width: 300px;
    border-style: ridge;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: 35px;
    background-color: gainsboro;
}
